<footer class="bottom-footer">
  <div class="container">
    <nav>
      <ul class="bottom-footer-links">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/tags">Tags</a></li>
        <li><a class="nav-link" href="/inspiration">Inspiration</a></li>
      </ul>
    </nav>
  </div>

  <div class="container space-between bottom-footer-contact">
    <small>2024 · Powered by curiosity · <a class="nav-link muted" href="mailto:{{ site.email }}">{{ site.email }}</a></small>

    <div class="newsletter">
      <details class="newsletter-details">
        <summary><span>Newsletter</span></summary>
        <div>{% include newsletter-form.html %}</div>
      </details>
    </div>
  </div>
</footer>
