<footer class="bottom-footer">
  <div class="container">
    <nav aria-labelledby="footermenulabel">
      <h2 id="footermenulabel" class="visually-hidden">Footer Menu</h2>

      <ul class="bottom-footer-links">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/tags">Tags</a></li>
        <li><a class="nav-link" href="/inspiration">Inspiration</a></li>
      </ul>
    </nav>
  </div>

  <div class="container space-between bottom-footer-contact">
    <small>2024 · Powered by curiosity</small>
    <small><a class="nav-link muted" href="mailto:{{ site.email }}">{{ site.email }}</a></small>
  </div>
</footer>
