<header class="top-header">
  <div class="container space-between">
    <div class="top-logo">
      <img class="top-logo-image" src="{{ '/assets/icons/coffee.svg' | relative_url }}" width="24px" />
      <a class="top-logo-link" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    <nav aria-labelledby="mainmenulabel">
      <h2 id="mainmenulabel" class="visually-hidden">Main Menu</h2>

      <ul>
        {% unless page.layout == "home" %}
        <li><a class="nav-link" href="{{ "/" | relative_url }}">Home</a></li>
        {% endunless %}
      </ul>
    </nav>
  </div>
</header>
