{% assign today_date = 'now' | date: site.date_format %} {% assign post_date =
include.post.date | date: site.date_format %}

<li class="post-teaser">
  <span class="post-teaser-body">
    <span
      class="post-teaser-date {% if post_date == today_date %}post-teaser-date-today{% endif %}"
    >
      {% if post_date == today_date %}Today{% else %}{{post_date}}{% endif
      %}</span
    >
    <span class="post-teaser-title"
      ><a href="{{ include.post.url }}">{{ include.post.title }}</a></span
    >
  </span>
</li>
