{% if include.post.categories contains "gallery" %} {% assign
displayed_date_format = site.month_date_format %} {% else %} {% assign
displayed_date_format = site.date_format %} {% endif %} {% assign today_date =
'now' | date: site.date_format %} {% assign post_date = include.post.date |
date: site.date_format %}

<time
  class="{% if post_date == today_date %}today{% endif %}"
  datetime="{{ post.date }}"
  itemprop="datePublished"
>
  {% if post_date == today_date %}Today{% else %}{{ include.post.date | date:
  displayed_date_format }}{% endif %}</time
>
