.top-header {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  font-size: 1.1875rem;

  .nav-link {
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    padding-top: 2.5rem;
  }
}

.top-logo {
  display: flex;
  gap: 0.5rem;

  &-link {
    color: var(--color-text-alt);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--color-text-alt);
      text-decoration: underline;
    }
  }

  &-image {
    position: relative;
    bottom: 2px;
  }
}

.nav-link {
  color: var(--color-gray);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-text-alt);
    text-decoration: underline;
  }
}

.post-list-item {
  & + .post-list-item {
    margin-top: 0.5rem;
  }

  &-body {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  a {
    color: var(--color-primary);
  }

  &-date {
    min-width: 100px;
    flex-shrink: 0;
    color: var(--color-gray);
    font-size: 1rem;
  }

  &-title {
    position: relative;
    font-size: 1.15rem;
    line-height: 1.35;
  }

  .today {
    color: var(--color-red);
  }
}

.blog-content {
  font-size: 1.1875rem;
  padding-bottom: 12rem;

  header {
    margin-bottom: 1.9rem;

    h1 {
      margin-bottom: 1rem;
    }
  }

  & > p {
    margin-bottom: 1.5rem;
    line-height: 29px;
  }

  a {
    color: var(--color-tertiary);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--color-tertiary-alt);
    }
  }

  img {
    border-radius: 5px;
  }

  & > footer,
  & > cite {
    margin-top: -1.25rem;
    margin-bottom: 1.5rem;
    padding-right: 0.25rem;
    text-align: right;
    color: var(--color-gray);
    font-size: 0.86rem;
    font-style: italic;
  }

  @media (max-width: 576px) {
    text-align: justify;
  }
}

.read-time {
  margin-top: -0.5rem;
}

.bottom-footer {
  padding-bottom: 2.5rem;
  margin-top: 4rem;
  color: var(--color-gray);

  .container {
    gap: 1rem;
    padding-top: 2.5rem;
    border-top: 0.5px solid var(--color-gray-alt);
    align-items: baseline;
  }
}
