.top-header {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  font-size: 1.1875rem;

  a {
    color: var(--color-text-alt);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.blog-content {
  font-size: 1.1875rem;
  padding-bottom: 12rem;

  header {
    margin-bottom: 1.9rem;

    h1 {
      margin-bottom: 1rem;
    }
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 29px;
  }
}

.bottom-footer {
  padding-bottom: 2.5rem;
  margin-top: 4rem;

  .container {
    padding-top: 2.5rem;
    border-top: 0.5px solid var(--color-gray);
  }
}
