@font-face {
  font-family: "wotfard";
  src: url("/assets/fonts/wotfard/wotfard.eot");
  src:
    url("/assets/fonts/wotfard/wotfard.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/wotfard/wotfard.woff2") format("woff2"),
    url("/assets/fonts/wotfard/wotfard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-text: #f3e1ca;
  --color-text-alt: #fcf9f4;
  --color-background: #161615;
  --color-background-alt: #20201f;
  --color-background-alt-2: #38384a;
  --color-primary: #dca561;
  --color-secondary: #7aa89f;
  --color-tertiary: #9bc4d5;
  --color-tertiary-alt: #b7d4e1;
  --color-red: #e46876;
  --color-gray: #a6a69c;
  --color-gray-alt: #7a8382;
  --font-family: "wotfard", sans-serif;
  --width-readable: 686px;
}
