@font-face {
  font-family: "wotfard";
  src: url("/assets/fonts/wotfard/wotfard.eot");
  src:
    url("/assets/fonts/wotfard/wotfard.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/wotfard/wotfard.woff2") format("woff2"),
    url("/assets/fonts/wotfard/wotfard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-text: #efd8ba; // #f3e1ca;
  --color-text-alt: #fcf9f4;
  --color-background: #1a1a22;
  --color-background-alt: #16161d;
  --color-primary: #dca561;
  --color-secondary: #7aa89f;
  --color-tertiary: #9bc4d5;
  --color-tertiary-alt: #9bc4d5;
  --color-red: #e46876;
  --color-gray: #a6a69c;
  --color-gray-alt: #686760;
  --font-family: "wotfard", sans-serif;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 400;
  --width-readable: 686px;
}
