<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html is_post=true %}
  <body>
    {% include header.html %}

    <main class="container">
      <ul>
      {% for category in site.categories %}
        <li>
          <section>
            <h2>{{ category | first | capitalize }}</h2>

            <ul>
            {% for post in category.last %}
              {% include post-list-item.html post=post %}
            {% endfor %}
            </ul>
          </section>
        </li>
      {% endfor %}
      </ul>

      <br class="spacer" />

      <!-- <ul> -->
      <!--   {% for tag in site.tags %} -->
      <!--     <li><a href="{{ tag | first | slugize }}"><span>{{ tag | first | capitalize }}</span>&nbsp;<small>({{ tag[1].size }})</small></a></li> -->
      <!--   {% endfor %} -->
      <!-- </ul> -->

      {{ content }}
    </main>

    {% unless page.hide-footer %}
      {% include footer.html %}
    {% endunless %}
  </body>
</html>
