<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html is_post=true %}
  <body>
    {% include header.html %}

    <main class="container">
      <ul>
      {% for category in site.categories %}
        <li>
          <section>
            <h2>{{ category | first | capitalize }}</h2>

            <ul>
            {% for post in category.last %}
              <li>
                {% include post-teaser.html post=post %}
              </li>
            {% endfor %}
            </ul>
          </section>
        </li>
      {% endfor %}
      </ul>
      {{ content }}
    </main>

    {% unless page.hide-footer %}
      {% include footer.html %}
    {% endunless %}
  </body>
</html>
