{% if page.categories contains "gallery" and page.images and page.images.size > 0 %}
  {% capture images_count %}{{ page.images.size }}{% endcapture %}
{% else %}
  {% capture read_time %}{{ page.content | strip_html | number_of_words | times: 1.0 | divided_by: 200 | round }}{% endcapture %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% if page.draft %}
      <div class="post-draft-banner">DRAFT</div>
    {% endif %}

    {% include header.html %}

    <main class="post-content post-content-type-{{ page.categories | first | downcase | default: 'general' }} container">
      <header class="post-content-header">
        <h1 class="post-content-title">{{ page.title }}</h1>

        <div class="text-meta text-line-through">
          <span class="post-content-date">
            {% include post-date.html post=page %}
          </span>
        </div>

        {% if read_time != nil and read_time != "0" %}
        <div class="post-content-size text-meta text-right">
          <small>{{ read_time | append: " min read" }}</small>
        </div>
        {% elsif images_count != nil and images_count != "0" %}
        <div class="post-content-size text-meta text-right">
          <small>{{ images_count | append: " images" }}</small>
        </div>
        {% endif %}
      </header>

      {% if page.hero %}
        <img class="post-content-hero" src="/assets/images/{{ page.hero }}" alt="" />
      {% endif %}

      <div class="post-content-body">
        {% if page.images %}
          {% assign counter = 1 %}
          {% for image in page.images %}
            <p>
            <img src="/assets/images/{{ image.url }}" alt="{{ counter }}" style="{% if image.aspect_ratio %}aspect-ratio: {{ image.aspect_ratio }};{% endif %}" />
              {% if image.txt %}
                <footer><cite>{{ image.txt }}</cite></footer>
              {% elsif page.draft %}
                <footer><cite>{{ image.txt | default: image.url }}</cite></footer>
              {% endif %}
            </p>
            {% assign counter = counter | plus: 1 %}
          {% endfor %}
        {% endif %}

        {{ content }}
      </div>
    </main>

    <aside class="post-aside container">
      {% if page.previous or page.next %}
      <h4>Thanks for reading, here's more</h4>

      <nav class="post-aside-links well">
        {% if page.previous %}
        <a class="post-aside-link post-aside-link-previous nav-link" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
        {% endif %}

        {% if page.next %}
        <a class="post-aside-link post-aside-link-next {% if page.previous %}post-aside-link-next-right{% endif %} nav-link" href="{{ page.next.url }}">{{ page.next.title }}</a>
        {% endif %}
      </nav>
      {% endif %}
    </aside>

    {% include footer.html %}
  </body>
</html>
