{% if page.categories contains "gallery" %}
  {% capture images_count %}{{ page.content | split: '<img' | size | minus: 1 }}{% endcapture %}
{% else %}
  {% capture read_time %}{{ page.content | strip_html | number_of_words | times: 1.0 | divided_by: 200 | round }}{% endcapture %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html is_post=true %}
  <body>
    {% include header.html %}

    <main class="container post-content">
      <header>
        <h1>{{ page.title }}</h1>

        <div class="text-meta text-line-through">
          <span>
            <time datetime="{{ page.date }}" itemprop="datePublished">
              {% include post-date.html post=page %}
            </time>
          </span>
        </div>

        {% if read_time != nil and read_time != "0" %}
        <div class="content-size text-meta-alt text-right">
          <small>{{ read_time | append: " min read" }}</small>
        </div>
        {% elsif images_count != nil and images_count != "0" %}
        <div class="content-size text-meta-alt text-right">
          <small>{{ images_count | append: " images" }}</small>
        </div>
        {% endif %}
      </header>

      {% if page.splash %}
        <img class="splash" src="{{ page.splash }}" alt="" />
      {% endif %}

      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
