<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}

    <main class="container">
      <h2>{{ page.title }}</h2>

      {% assign tags = site.tags | sort %}
      {% for tag in tags %}
        <section>
          <h3>{{ tag | first | capitalize }}</h3>

          <ul class="post-list-items">
            {% for post in tag[1] %}
              {% include post-list-item.html post=post %}
            {% endfor %}
          </ul>
        </section>
      {% endfor %}

      {% if content.size > 1 %}
        <br class="spacer" />
      {% endif %}

      {{ content }}
    </main>

    {% unless page.hide-footer %}
      {% include footer.html %}
    {% endunless %}
 </body>
</html>
